body {
   height: 100%;
    background-image: url('zgeTuV.jpg');
    z-index: 50;
}
html {
    height: 100%;
}
 .title {
  font-family: "Bebas Neue", sans-serif;
  color: red;
 }
button {
    text-align: center;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 850px;
}
.dark-overlay {
    z-index: 100;
     background-color:  linear-gradient(to bottom, rgba(0, 0, 0, 0.8),rgb(255, 104, 104));
     height: 100%;
}